@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  background-color: rgb(20, 24, 18);
  color: white;
  margin: 0;
  font-family: "VT323", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease;
}

.fixed {
  position: fixed;
}

.amountcontainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
  justify-content: center;
  margin-left: 50px;
}

.amountcontainer button {
  padding: 2px 15px 2px 15px;
  font-weight: normal;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  min-width: 40px;
}

.priceinfocontainer {
  margin-bottom: 25px;
}

.totalpricecontiner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.5rem;
}

.numbercontainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
}

.mint-title {
  font-size: 3rem;
  color: white;
  font-weight: normal;
}

.amountcontainer p {
  color: white;
  margin: 0 20px;
  font-size: 2rem;
}

.nftcontainer {
  display: flex;
  align-items: center;
  padding: 20px;
}

.nftcontainer img {
  width: 100%;
  object-fit: cover;
}

.mintbtn {
  border: none;
  margin-top: 35px;
  font-size: 1.5rem;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  transition: all 0.3s ease;
}

.navcontainer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 10px;
}

.mintbtn:hover {
  background-color: rgb(151, 185, 136);
}

.raritycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 54, 20, 0.85),
      rgba(20, 24, 18, 0.85)
    ),
    url("https://cdn.pixabay.com/photo/2017/04/22/13/58/particles-2251393_960_720.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  width: 100%;
  min-width: 1200px;

  object-fit: fill;
  z-index: 2;
}

.presale-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 54, 20, 0.85),
      rgba(20, 24, 18, 0.85)
    ),
    url("https://image.freepik.com/vector-gratis/onda-digital-abstracta-fondo-particulas_1409-1276.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.presale-count-container h2 {
  font-weight: normal;
  font-size: 3rem;
}

.presale-count-container h2 {
  margin-bottom: 25px;
}

.timer-container {
  display: flex;
}

.timer-container div {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container h3 {
  font-size: 3.5rem;
  font-weight: normal;
}
.timer-container p {
  font-size: 1.7rem;
  font-weight: normal;
}

.raritytitle {
  margin-top: 25px;
  margin-bottom: 10vh;
  text-align: center;
  padding: 0 25px;
}

.raritytitle h2 {
  font-size: 3.5rem;
  font-weight: normal;
}
.raritytitle p {
  font-size: 2.5rem;
  font-weight: normal;
}

.rarity-desc {
  max-width: 100%;
  font-size: 1.2rem;
}

.raritywrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 15vh;
}

.rarity {
  text-align: center;
  font-size: 2.2rem;
  flex: 1;
}

.rarity img {
  width: 100%;
  height: 100%;
}

.mintContainer {
  background-image: linear-gradient(
      to bottom,
      rgba(31, 54, 20, 0.85),
      rgba(20, 24, 18, 0.85)
    ),
    url("https://c4.wallpaperflare.com/wallpaper/786/743/628/synthwave-city-evga-wallpaper-preview.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftMinted-container {
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
}

.nftMinted-container h3 {
  font-weight: normal;
  font-size: 2.5rem;
}

.supplyContainer {
  text-align: center;
  padding-top: 100px;
  font-size: 2.5rem;
}

.supplyContainer h2 {
  font-weight: normal;
}

.successLink-container {
  display: flex;
  font-size: 1.7rem;
  font-weight: normal;
}

.faq-container {
  padding: 35px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(31, 54, 20, 0.85),
      rgba(20, 24, 18, 0.85)
    ),
    url("https://image.freepik.com/vector-gratis/onda-digital-abstracta-fondo-particulas_1409-1276.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item-container {
  max-width: 700px;
  padding: 10px;
  margin-bottom: 40px;
}

.faq-item-container a {
  text-decoration: none;
  color: #25dbe1;
}

.faq-item-container h2 {
  font-weight: normal;
  font-size: 3rem;
}

.faq-item-container p {
  font-weight: normal;
  font-size: 1.7rem;
}

.successLink-container a {
  text-decoration: none;
  color: #25dbe1;
  margin-right: 10px;
}
.successLink-container p {
  margin-right: 10px;
}

.btn-hover {
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
  font-family: inherit;
  font-weight: normal;
  font-size: 2rem;
  width: 100%;
  color: #fff;
  cursor: pointer;
  margin: 20px 0;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25dbe1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.connectWallet {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: rgb(20, 24, 18);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(151, 185, 136);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: normal;
  font-size: 1.5rem;
}

.connectWallet:hover {
  background-color: rgb(92, 117, 79);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer-icons-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.link {
  text-decoration: none;
  color: #25dbe1;
  font-size: 1.5rem;
  font-weight: normal;
  cursor: pointer;
}

.footer-icon {
  width: 65px;
}
.howtojoin-container {
  margin-top: 35px;
}

.rarity-text {
  min-height: 150px;
}

@media (max-width: 750px) {
  .raritywrapper {
    flex-direction: column;
  }
}
